---
layout: default
title: Blag Of A Programmer
---

<div class="blog-posts">

    <div class="container">
        {% for post in paginator.posts %}
        <div class="post-item" itemscope itemtype="http://schema.org/BlogPosting" role="article">
            <div class="post-header">
               {% case post.layout %}

                    {% when 'post_simple' %}
                      {% include simple_post_header.html %}

                    {% when 'post_image' %}
                      {% include image_post_header.html %}

                    {% when 'post_video' %}
                      {% include video_post_header.html %}

                    {% when 'post_audio' %}
                      {% include audio_post_header.html %}

                    {% else %}
                      {% include simple_post_header.html %}

               {% endcase %}
            </div>
            <div class="post-body">
                <div class="meta">
                    <i class="icon-date"></i>
                    <time itemprop="datePublished" datetime="{{ post.date | date_to_long_string }}" class="date">
                        {{ post.date | date_to_long_string }}
                    </time>
                    <span class="post-comment-count"><a href="{{post.url}}/#disqus_thread">Loading Comments Count...</a></span>
                </div>
                <a href="{{ post.url }}">
                    <h2 class="title" itemprop="name">{{ post.title }}</h2>
                </a>
                <div class="content" itemprop="description">
                    {{ post.excerpt | markdownify }}
                </div> 
            </div>
            <a href="{{ post.url }}" class="post-more">Read more&hellip;</a>

            <ul class="post-socials">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{post.url}}&t={{post.title}}" target="_blank"><i class="icon-facebook"></i></a></li>
                <li><a href="https://twitter.com/intent/tweet?original_referer={{site.url}}{{page.url}}&text={{post.title}}&url={{site.url}}{{post.url}}" target="_blank"><i class="icon-twitter"></i></a></li>
                <li><a href="https://plus.google.com/share?url={{site.url}}{{post.url}}" target="_blank"><i class="icon-google-plus"></i></a></li>
            </ul>                  
        </div>
        {% endfor %}
    </div>
        
    <div id="blog-pagination">
        <ul>
            {% if paginator.previous_page %} 
            <li class="prev"><a href="{{paginator.previous_page_path}}"><i class="icon-arrow-left"></i><span>Prev</span></a></li>
            {% endif %}
            {% if paginator.previous_page or paginator.next_page%} 
            <li class="separator"></li>
            {% endif %}
             {% if paginator.next_page %}
            <li class="next"><a href="{{paginator.next_page_path}}"><span>Next</span><i class="icon-arrow-right"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>
<script type="text/javascript">
var disqus_shortname = '{{site.user.disqus_shortname}}';
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
