---
layout: default
---

<div class="single-post">
    <div class="container">
        <div class="post-item" itemscope itemtype="http://schema.org/BlogPosting" role="article">
            <div class="post-header">
                {{ content }}
            </div>
            <div class="post-body">
                <div class="meta">
                    <i class="icon-date"></i> 
                    <time itemprop="datePublished" datetime="{{ page.date | date_to_long_string }}" class="date">
                        {{ page.date | date_to_long_string }}
                    </time>
                </div>
                <h2 class="title" itemprop="name">{{page.title}}</h2>
                <div class="content" itemprop="description">
                    {{ page.content | markdownify }}
                </div> 
            </div>
            <div class="post-tags">
                <i class="icon-tags"></i>
                {% for tag in page.tags %}
                <a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a>
                <span class="seperator">|</span>
                {% endfor %}
            </div>
            <ul class="post-socials">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}&t={{page.title}}" target="_blank"><i class="icon-facebook"></i></a></li>
                <li><a href="https://twitter.com/intent/tweet?original_referer={{site.url}}{{page.url}}&text={{page.title}}&url={{site.url}}{{page.url}}" target="_blank"><i class="icon-twitter"></i></a></li>
                <li><a href="https://plus.google.com/share?url={{site.url}}{{page.url}}" target="_blank"><i class="icon-google-plus"></i></a></li>
            </ul>
            <div id="disqus_thread" itemprop="comment"></div>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments.</a></noscript>
        </div>
    </div>
    <div id="blog-pagination">
        <ul>
        	{% if page.previous.url %} 
            <li class="prev"><a href="{{site.url}}{{page.previous.url}}"><i class="icon-arrow-left"></i><span>Prev</span></a></li>
            {% endif %}
            {% if page.previous.url or page.next.url%} 
            <li class="separator"></li>
            {% endif %}
            {% if page.next.url %} 
            <li class="next"><a href="{{site.url}}{{page.next.url}}"><span>Next</span><i class="icon-arrow-right"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>
<script>
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//{{site.user.disqus_shortname}}.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>